page-vuelos {
    ion-list ion-item .icono {
        margin-right: 10px;
    }
    ion-list ion-item {
        margin-bottom: 20px !important;
    }
    ion-list {
        background: transparent
    }
    ion-list ion-item h2 {
        margin-bottom: 10px !important;
    }
}