ion-icon {
    &[class*="custom-"] {
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    &[class*="custom-save"] {
        mask-image: url(../assets/icons/save.svg);
    }
    &[class*="custom-faq"] {
        mask-image: url(../assets/icons/faq.svg);
    }
    &[class*="custom-flight"] {
        mask-image: url(../assets/icons/flight.svg);
    }
    &[class*="custom-info"] {
        mask-image: url(../assets/icons/info.svg);
    }
    &[class*="custom-map"] {
        mask-image: url(../assets/icons/map.svg);
    }
    &[class*="custom-news"] {
        mask-image: url(../assets/icons/news.svg);
    }
    &[class*="custom-work"] {
        mask-image: url(../assets/icons/work.svg);
    }
    &[class*="custom-drone"] {
        mask-image: url(../assets/icons/drone.svg);
    }
    &[class*="custom-maintenance"] {
        mask-image: url(../assets/icons/maintenance.svg);
    }
}