<!--type="overlay || push || reveal"-->
<ion-menu [content]="content" type="overlay">
    <ion-content>
        <ion-card text-center class="hide-card side-menu-top-color ion-card-bottom" *ngIf="commondata.sesionIniciada">
            <img *ngIf="commondata.sesionIniciadaConFacebook || commondata.sesionIniciadaConGoogle" [src]="commondata.photoUrl" class="custom-avatar" />
            <ion-item class="transparent white-text center ion-select-up">
                <h2 style="font-size: 20px" class="white-text">{{commondata.usuario}}</h2>
                <ion-icon menuClose name="log-out" item-right class="log-out-icon" (click)="logout()"></ion-icon>
                <h3 class="white-text">{{commondata.email}}</h3>
            </ion-item>
            <ion-item class="transparent white-text">
                <ion-label class="white-text" floating>Dron que desea consultar</ion-label>
                <!-- interface="action-sheet || popover || alert" -->
                <ion-select style="margin-right: 5px" interface="action-sheet" okText="Seleccionar" cancelText="Cancelar" (ionChange)="cambioSelect()" [(ngModel)]="commondata.dronActivo" [compareWith]="commondata.compareFn">
                    <ion-option *ngFor="let item of commondata.dron" [value]="item">{{item.apodo}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-card>
        <ion-list class="ion-list-top" *ngIf="commondata.sesionIniciada" no-lines>
            <button menuClose ion-item *ngFor="let p of pages" [class.activeHighLight]="checkActive(p)" (click)="openPage(p)">
                <ion-icon [name]="p.icon" item-left></ion-icon>
                {{p.title | translate}}
            </button>
        </ion-list>
        <ion-list *ngIf="!commondata.sesionIniciada" no-lines>
            <button menuClose ion-item *ngIf="!commondata.sesionIniciada" (click)="goToLogIn()">
                <ion-icon name="log-in" item-left></ion-icon> {{'SIDEMENU.LOGIN' | translate}}
            </button>
            <button menuClose ion-item *ngFor="let p of pages" [class.activeHighLight]="checkActive(p)" (click)="openPage(p)">
                <ion-icon [name]="p.icon" item-left></ion-icon>
                    {{p.title | translate}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>