page-tutorial {
    .addDrone {
        width: 70%;
        margin-top: 50px;
    }
    .sliceDrone {
        margin-top: 50px;
        width: 35%;
    }
    .editDrone {
        margin-top: 30px;
        width: 35%;
    }
    .deleteDrone {
        margin-top: 30px;
        width: 35%;
    }
    .selectDrone {
        margin-top: 30px;
        width: 35%;
    }
    .selectedDrone {
        margin-top: 15px;
        width: 35%;
    }
    .tutorial-end {
        margin-top: 20px;
    }
}